body {
  background-color: #5d8e94;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar {
  background-color: #326a7d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.search {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  padding: 12px;
  width: 30vw;
}
.nav-bar .add {
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 1.5em;
  outline: none;
  position: absolute;
  top: 25px;
  right: 50px;
}
.nav-bar .add:active {
  transform: translateY(1px);
  box-shadow: none;
}
.code-container {
  background-color: #abd4fa;
  border-radius: 10px;
  margin: 30px 50px;
  padding: 3px 23px;
}
.code-container.git {
  background-color: #f6f8fa;
  color: #24292e;
}
.code-container.react {
  background-color: #61dbfb;
  color: #303030;
}
.code-container.vue {
  background-color: #41b883;
  color: #24292e;
}
.code-container.firebase {
  background-color: #ffca28;
  color: #2C384A;
}
.code-container.node {
  background-color: #3c873a;
  color: #303030;
}
.code-container.terminal {
  background-color: #191715;
  color: #e1e3e8;
}
.code-panel {
  border-radius: 10px;
  background-color: #4b4b4b;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px 20px;
}
.logo {
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  height: 20px;
  margin-left: 8px;
  padding: 2px;
  transform: translateY(7px);
  width: 20px;
}