body {
  background-color: #5d8e94;
  font-family: Arial, Helvetica, sans-serif;
}
input, select, button {
  border: none;
  border-radius: 5px;
  font-size: 1em;
  outline: none;
  padding: 12px;
  width: 30vw;
}
button:active {
  transform: translateY(1px);
}
.nav-bar {
  background-color: #326a7d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.nav-bar button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 50px;
  width: 85px;
}
.code-container {
  background-color: rgb(127, 229, 243);
  border-radius: 10px;
  margin: 30px 50px;
  padding: 3px 23px;
}
.code-container.git {
  background-color: #f6f8fa;
  color: #24292e;
}
.code-container.react {
  background-color: #61dbfb;
  color: #303030;
}
.code-container.vue {
  background-color: #41b883;
  color: #24292e;
}
.code-container.firebase {
  background-color: #ffca28;
  color: #2C384A;
}
.code-container.node {
  background-color: #3c873a;
  color: #303030;
}
.code-container.terminal {
  background-color: #6b6b6b;
  color: white;
}
.code-panel {
  border-radius: 10px;
  background-color: #4b4b4b;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px 20px;
}
.logo {
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  height: 20px;
  margin-left: 8px;
  padding: 2px;
  transform: translateY(7px);
  width: 20px;
}
.add-lang {
  background-color: white;
  margin-left: 15px;
  width: 15vw;
}
.add-code {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  color: white;
  margin: 15px;
  width: 40%;
}
.save-button {
  background-color: lightgreen;
  cursor: pointer;
  margin-bottom: 15px;
  width: 85px;
}
.cancel-button {
  background-color: #e8b4b4;
  cursor: pointer;
  margin-bottom: 15px;
  margin-left: 10px;
  width: 85px;
}